{% extends 'authTemplate.html' %}

{% block content %}

<div class="memo">
    <h1 class="heading">Noter - the note taking app which will help you to take notes</h1>

    <section class="left_section">
        <form method="post" class="form">
            {% csrf_token %}

            <h1 class="form_heading">Login to Noter</h1>

            <label for="username" class="label">Username</label>
            <input type="text" id="username" class="input" required name="username">

            <label for="password" class="label">Password</label>
            <input type="password" id="password" class="input" required name="password">

            <footer class="form_footer">
                <button>Login</button>
                <small>Don't have an account? <a href="/register" class="auth_link">Register</a></small>
            </footer>

            {% if messages %}
                {% for message in messages %}
                    <h2 class="error">{{message}}</h2>
                {% endfor %}
            {% endif %}
        </form>
    </section>
</div>

{% endblock %}